<div id="<%= dom_id parcel %>">
  <p>
    <strong>Recipient address:</strong>
    <%= parcel.recipient_address %>
  </p>

  <p>
    <strong>Recipient name:</strong>
    <%= parcel.recipient_name %>
  </p>

  <p>
    <strong>Recipient name:</strong>
    <%= parcel.recipient_name %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= parcel.weight %>
  </p>

  <p>
    <strong>From:</strong>
    <%= parcel.from %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= parcel.destination %>
  </p>

  <p>
    <strong>Totalcost:</strong>
    <%= parcel.totalcost %>
  </p>

</div>
